

.navbar{
    background-color:#ffd8bf;
    opacity: 0.9;
    padding: 1rem;
}


.cont ul li a{
    font-size:larger;
    font-weight: bold;
    margin: 0px 25px;
}

.cont ul li:hover{
    background-color: #e2ab89;
    border-radius: 5px;
}

.navbar-brand{
    font-size:xx-large;
    font-weight: bolder;
    padding: 0.75rem;
}